<ul>
  <li><a href = "/users">Users </a></li>
  <li><a href = "/photos">Photos</a></li>
</ul>

<h1>List of photos</h1>

<form action="/insert_user_photo">
  <label for="image">Image</label>
  <input id ="image" type="url" name="input_image_url" placeholder="Enter a url for the image...">
  <label for="image">Caption</label>
  <textarea id ="caption" type="text" name="input_image_caption" placeholder="Enter a caption for the photo..."></textarea>
  <label for="image">Owner ID</label>
  <input id ="owner_id" type="text" name="input_image_owner_id" placeholder="Enter an ID of a user...">
  <button>Add photo</button>
</form>

<hr>

<table border="1">
  <tr>
    <th>Image</th>
    <th>Caption</th>
    <th>Owner</th>
    <th>Posted</th>
    <th></th>
  </tr>

<%@all_photos.each do |a_photo|%>
  <tr>
    <td>
      <img src="<%=a_photo.image%>">
    </td>

    <td>
      <%=a_photo.caption%>
    </td>

    <td>
      <%=a_photo.poster.username%>
    </td>

    <td>
      <%=a_photo.created_at%>
    </td>

    <td>
      <a href="/photos/<%=a_photo.id%>">Show details</a>
    </td>
  </tr>

  <%end%>
