<ul>
  <li><a href = "/users">Users </a></li>
  <li><a href = "/photos">Photos</a></li>
</ul>

<h1>Photo Details</h1>


<dl>
  <dt>Image</dt>
    <dd><img src ="<%=@photo.image%>"></dd>

  <dt>Caption</dt>
    <dd><%=@photo.caption%></dd>

  <dt>Owner</dt>
    <dd><%=@photo.poster.username%></dd>

  <dt>Posted</dt>
    <dd><%=@photo.created_at%></dd>

  <dt>Edit photo</dt>
    <dd>
      <form action="/update_photo/<%=@photo.id%>">
        <label for="image">Image</label>
        <input id ="image" type="text" name="input_image_url" placeholder="Enter a url for the image..." value="<%=@photo.image%>">
        <label for="image">Caption</label>
        <textarea id ="caption" type="text" name="input_image_caption" placeholder="Enter a caption for the photo..." ><%=@photo.caption%></textarea>
        <button>Update photo</button>
      </form>
    </dd>
  <dt>Delete photo</dt>
    <dd>Delete this photo</dd>
</dl>

<h2>Comments</h2>

<table>
  <tr>
    <th>Commenter</th>
    <th>Comment</th>
    <th>Posted</th>
  </tr>
<%@photo.comments.each do |a_comment|%>
  <tr>
    <td>
      <%=a_comment.commenter.username%>
    </td>

    <td>
      <%=a_comment.body%>
    </td>

    <td>
      <%=a_comment.created_at%>
    </td>
  </tr>

<%end%>

</table>

<h3>Add a new comment</h3>

<form action="/insert_comment">
  <label for="photo_id">Photo ID</label>
    <input for="photo_id" type="text" value="<%=@photo.id%>" name="input_photo_id" >

  <label for="author_id">Author ID</label>
    <input for="author_id" type="text"  name="input_author_id" >

  <label for="comment">Comment</label>
    <textarea id ="comment" type="text" name="input_image_comment" placeholder="Enter a comment..."></textarea>

  <button>Add comment</button>
</form>
